<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="col-md-12">
                <label>Contact Persons</label>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <label>Position</label>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <label>Mobile Phone</label>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <label>Email Address</label>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">1</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">2</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">3</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>