<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="row">Contact Persons</div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">Position</div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">Mobile Phone</div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">Email Address</div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
            <div class="row">
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>