<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <label>ขอใบ</label>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">จำนวน</div>
                <div class="col-md-2"><input class="form-control" /></div>
                <div class="col-md-1">ท่าน</div>
            </div>
            <div class="row">
                <div class="col-md-3">ราคา</div>
                <div class="col-md-2"><input class="form-control" /></div>
                <div class="col-md-1">บาท</div>
                <div class="col-md-2">Vat1</div>
                <div class="col-md-2">Vat2
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">เงื่อนไข</div>
                <div class="col-md-2">เงินสด</div>
                <div class="col-md-2">credit</div>
                <div class="col-md-2">วัน</div>
                <div class="col-md-2">มัด</div>
            </div>
            <div class="row">
                <div class="col-md-3">เงื่อนไขอื่นๆ</div>
            </div>
        </div>
    </div>
</div>