<div class="modal-header">
    <h3 class="modal-title">เพิ่มผู้ติดต่อ</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="name">ชื่อ</label>
        <input type="text" class="form-control" ng-model="name" id="name">
    </div>
    <div class="form-group">
        <label for="position">ตำแหน่ง</label>
        <input type="text" class="form-control" ng-model="position"id="position">
    </div>
    <div class="form-group">
        <label for="tel">หมายเลขโทรศัพท์</label>
        <input type="tel" class="form-control" ng-model="tel"id="tel">
    </div>
    <div class="form-group">
        <label for="email">อีเมล</label>
        <input type="email" class="form-control" ng-model="email" id="email">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">ตกลง</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">ยกเลิก</button>
</div>