<div class="container half-width">
    <!--<div uib-collapse="isCollapsed">-->
        <div class="well well-lg">
            <div class="alert alert-success" role="alert" ng-show="!viewMain && !regResult">
                <span translate="_register_result_success"></span>
                <a ui-sref="login" class="alert-link" translate="_register_go"></a>
            </div>
            <div class="alert alert-danger" role="alert" ng-show="!viewMain && regResult">
                <span translate="{{(regResult==1)?'_register_result_exist':'_register_result_error'}}">{{regResult}}</span>
                <a ng-click="toggleView()" class="alert-link" translate="_register_back"></a>
            </div>
            <form role="form" name="registerForm" ng-show="viewMain"
                  ng-submit="register()">
                <h1 translate="_register_heading"></h1>
                <div class="form-group">
                    <label for="username" translate="_register_form_username"></label>
                    <span uib-tooltip="{{toastTxt}}" tooltip-is-open="toastRes==4"
                          tooltip-placement="right" tooltip-enable="toastRes==4">
                        <input ng-model="info.username" type="text" class="form-control"
                               id="username" name="username" >
                    </span>
                </div>
                <div class="form-group">
                    <label for="password" translate="_register_form_password"></label>
                    <span uib-tooltip="{{toastTxt}}" tooltip-is-open="toastRes==1 || toastRes==2"
                          tooltip-placement="right" tooltip-enable="toastRes==1 || toastRes==2">
                        <input ng-model="info.password" type="password" class="form-control"
                               id="password" name="password" >
                    </span>
                </div>
                <div class="form-group">
                    <label for="passwordConf" translate="_register_form_password_conf"></label>
                    <span uib-tooltip="{{toastTxt}}" tooltip-is-open="toastRes==3"
                          tooltip-placement="right" tooltip-enable="toastRes==3">
                        <input ng-model="info.passwordConf" type="password" class="form-control"
                               id="passwordConf" name="passwordConf">
                    </span>
                </div>
                <div class="form-group">
                    <label for="email" translate="_register_form_email"></label>
                    <input ng-model="info.email" type="email" class="form-control"
                           id="email" name="email">

                </div>
                <button type="submit" class="btn btn-default" translate="_submit"></button>
                <button type="reset" class="btn btn-primary" translate="_reset"></button>
            </form>
        </div>
    <!--</div>-->
</div>