<div class="panel panel-default - animated fadeIn">
    <div class="panel-heading">
        <h3 class="panel-title" >Two-face Report</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <button ng-click="test()">ada</button>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="info.date" is-open="calendar" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="calendar = !calendar">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <uib-timepicker ng-model="info.date" show-spinners="false" show-meridian="false"></uib-timepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="col-md-4">
                    Address
                </div>
                <div class="col-md-8">
                    textarea
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4">
                        tel
                    </div>
                    <div class="col-md-8">
                        input
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        fax
                    </div>
                    <div class="col-md-8">
                        input
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="row">
                    <>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>